
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.body {
    display: flex;
    flex-direction: column;
}

.header {
  background: #1F2937;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
  font-style: italic;
}


a {
  text-decoration: none;
  color: #E5E7EB;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  font-size: 18px;
}

.left, .right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.left {
    margin-left: 200px;
}

.right {
    margin-right: 200px;
}