
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.body {
    display: flex;
    flex-direction: column;
}

.header {
  background: #1F2937;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
  font-style: italic;
}

.hero {
  background: #1F2937;
  display: flex;
  flex-direction: row;
  padding: 100px 200px 100px 200px;
}

.title {
  color: #F9FAF8;
  font-weight: 900;
  font-size: 48px;
}

.hero-info {
  color: #E5E7EB;
  font-size: 18px;
}

.left-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 40px 0px 0px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;
  margin-bottom: 140px;
}

.info {
    max-width: 200px;
}

.info img {
  border-radius: 15px;
}

.info-title {
  text-align: center;
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  margin: 50px 0px;
}

button {
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 10px;
    color: #E5E7EB;
    font-size: 18px;
    background-color: #3882F6;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  font-size: 18px;
}

.left, .right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.left {
    margin-left: 200px;
}

.right {
    margin-right: 200px;
}